<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
          color: #000000;
          background-color:#6677ba79;
          font-family: 'Roboto', sans-serif;
          text-align: left;
        }

        div {
          text-align: justify;
          text-justify: inter-word;
          
        }

        .divclassmargin{
          margin-left: 1%;
          margin-right: 2%;
          font-family: "Times New Roman", Times, serif;
          font-size: 16px; 
        }


      </style>
</head>
<body>
    {% include "basic/header.html" %}
    
    <div class="divclassmargin" > Hello Reader,  Count 1</div>
    <p></p>
    <div class="divclassmargin">system is under development Count 2</div>
    <P></P>
    <div class="divclassmargin">Some cool features coming soon Count 3</div>

    <div class="divclassmargin" > Hello Reader !! This is a portfolio of Gopal Jha. Count 4</div>
    <p></p>
    <div class="divclassmargin">system is under development Count 5</div>
    <P></P>
    <div class="divclassmargin">Some cool features coming soon Count 6</div>

    <div class="divclassmargin" > Hello Reader !! This is a portfolio of Gopal Jha. Count 7</div>
    <p></p>
    <div class="divclassmargin">system is under development Count 8</div>
    <P></P>
    <div class="divclassmargin">Some cool features coming soon Count 9</div>

    <div class="divclassmargin" > Hello Reader !! This is a portfolio of Gopal Jha. Count 10</div>
    <p></p>
    <div class="divclassmargin">system is under development </div>
    <P></P>
    <div class="divclassmargin">Some cool features coming soon </div>
    
    
  
    {% include "basic/footer.html" %}
</body>
</html>